name: .publish-npm

on:
  workflow_call:
    secrets:
      npm-auth-token:
        required: true
        description: required credentials to authenticate with the aws account under which to publish

jobs:
  install:
    uses: ./.github/workflows/.install.yml

  publish:
    runs-on: ubuntu-24.04
    needs: [install]
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set node-version
        uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org/" # required to publish
          node-version-file: ".nvmrc"

      - name: node-modules cache get
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: ./node_modules
          key: ${{ needs.install.outputs.node-modules-cache-key }}

      - name: build
        run: npm run build

      - name: publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm-auth-token }}
