name: provision

on:
  push:
    tags:
      - v*
    branches:
      - "main"
      - "master"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} # per [workflow] x [branch, tag]
  cancel-in-progress: true #  cancel workflows for non-latest commits

jobs:
  github:
    uses: ./.github/workflows/.declastruct.yml
    with:
      wish-path: provision/github.repo/resources.ts
      github-environment: prod
      creds-github-app-owner: ehmpathy
      creds-github-app-id: ${{ vars.DECLASTRUCT_GITHUB_CONFORMER_APP_ID }}
    secrets:
      creds-github-app-private-key: ${{ secrets.DECLASTRUCT_GITHUB_CONFORMER_APP_PRIVATE_KEY }}
